html, body{
    max-width: 80em;
    background-color: rgb(255, 255, 255);
    margin: auto;
    font-family: Helvetica, sans-serif;
    text-align: center;
}
.header {
    grid-area: h;
    background-color: rgb(92, 81, 18);
}
.nav{
    grid-area: n;
    background-color: rgb(255, 0, 140);
}
.nav li{
    display: inline-block;
    margin: 0em;
    padding: .5em 0;
    list-style: none;
}
.yeet{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.sidebar {
    grid-area: s;
    background-color: rgb(39, 36, 39);
}

.sidebar2 {
    grid-area: s2;
    background-color: rgb(135, 161, 179);
}

.content {
    grid-area: c;
    grid-gap: 0;
    background-color: rgb(161, 50, 205);
}
.footer {
    grid-area: f;
    background-color: rgb(77, 77, 56);
}
.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 20% auto 10%;
    grid-template-areas:
    "h h h h h h h h h h"
    "n n n n n n n n n n"
    "s s c c c c c c s2 s2"
    "s s c c c c c c s2 s2"
    "f f f f f f f f f f";
}

.box {
padding: 1em;
}
.padding{
    padding-left: 3em;
    padding-right: 3em;
}
.hover:hover{
    background: rgb(34, 190, 81);
}